{{define "title"}}Signup{{end}}
{{define "css"}}
<link rel="stylesheet" href="/static/css/auth.css" />
{{end}}

{{define "main"}}
<div class="auth-cont">
  <div class="coder"><img src="/static/img/code.gif" alt="jetbrains code gif"></div>
  <div class="form-side">
    <form action="/user/signup" method="POST" novalidate>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <div class="form-group">
        <label>Name:</label>
        {{with .Form.FieldErrors.name}}
        <label class="error-msg">{{.}}</label>
        {{end}}
        <input type="text" name="name" value="{{.Form.Name}}" />
      </div>
      <div class="form-group">
        <label>Email:</label>
        {{with .Form.FieldErrors.email}}
        <label class="input-error">{{.}}</label>
        {{end}}
        <input type="email" name="email" value="{{.Form.Email}}" />
      </div>
      <div class="form-group">
        <label>Password:</label>
        {{with .Form.FieldErrors.password}}
        <label class="input-error">{{.}}</label>
        {{end}}
        <input type="password" name="password" />
      </div>
      <div class="submit-or">
        <input type="submit" value="Signup" />
        <a href="/user/login" class="switch">Go to login</a>
      </div>
    </form>
  </div>

</div>
{{end}}