#map-container {
    margin-top: 20px;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: stretch;
    column-gap: 30px;
    padding-inline: 30px;
    justify-content: center;
}

/* Define styles for each clickable area, including margin for spacing */
.map-area {
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: center;
}

.map-area:hover {
    background-color: lightblue;
}

@media only screen and (max-width: 600px) {

    #map-container {
        margin-top: 20px;
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    .map-area {
        cursor: pointer;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
    }
}